@import '~bootstrap/scss/bootstrap.scss';

// colors
$default-text-color: #4c4e4d;
$theme-color: #0461ff;

$default-font-size: 16px;
$default-line-height: (25px / $default-font-size);

body {
    background-color: #f7f7f7;
}

@import './forms.scss';
@import './editor.scss';
@import './canvas.scss';
